<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>movieApiKey</key>
	<string>eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiI0YjllODkxOWYzMGNiODY5MjQ4MWIzNjA0YmQ0Njc4ZiIsIm5iZiI6MTczNTEzNTI3Mi41ODIsInN1YiI6IjY3NmMxMDI4OTFkYTAyNmNjYjY0YTdjZSIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.BeqwDhNT7-5ICS0BxeTspWfkujynhmMg5_fQllN0x1Y</string>
</dict>
</plist>
